.navbar-nav > li{
	padding-left: 30px;
	padding-right: 30px;
}

body{
  color: rgba(0,0,0,0.7); 
}

#intro {
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,0)), 
  	url('assets/nik-lanus-41808.jpg') 0% 0%/cover no-repeat
}

#request {
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,0)), 
  	url('assets/aidan-bartos-313782.jpg') 0% 0%/cover no-repeat
}

.fill-viewport {
  	min-height: 85vh; 
}

#how1{
		text-color: rgb(117,221,249,.8);
		/* box-shadow: 10px 10px 5px #888888; */
	}

.badge-blue{
	color: rgb(117,221,249);
}

.bd-right{
	border-color: rgb(117,221,249,.8);
	border-right: 1px solid;
}